<footer class="custom-bg fixed-bottom container-fluid">
    <div class="row">
        <div class="col-*-auto">
            <nav class="d-flex justify-content-between mx-5" id="nav3">
                <ul class="list-inline my-auto mt-2 mb-2" id="nav3-options">
                    <li class="list-inline-item me-4"><a href="#">&copy;Tech Enlighten</a></li>
                    <li class="list-inline-item me-4"><a href="/about">ABOUT</a></li>
                    <li class="list-inline-item"><a href="/contact">CONTACT</a></li>
                </ul>
                <ul class="list-inline my-auto" id="social-icons">
                    <li class="list-inline-item me-4"><a href="#"><i class="fa-brands fa-twitter fa-lg"></i></a>
                    </li>
                    <li class="list-inline-item"><a href="#"><i class="fa-brands fa-facebook fa-lg"></i></a></li>
                </ul>
            </nav>
        </div>
    </div>
</footer>
</body>

</html>