<%- include('./partials/meta.ejs') %>
    <title>About us</title>

    <link rel='stylesheet' href='/css/index.css'>
    <%- include('./partials/header.ejs') %>
        <main class="container">
            <div id="pg-main-text" class="row">
                <div class="col-sm-14 col-md-13 col-lg-12 col-xl-11">
                    <h3 id="pg-header">About us: </h3>
                    <p id="pg-main-para">
                        Our ultimate aim, is to help people come together to learn technology and allow
                        people to have fun
                        and
                        build connections.
                    </p>
                </div>
            </div>
        </main>
        <%- include('./partials/footer.ejs') %>