<%- include('./partials/meta.ejs') %>
    <title>Contact us</title>

    <link rel='stylesheet' href='/css/contact.css'>
    <%- include('./partials/header.ejs') %>
        <main class="container">
            <div id="pg-main-text" class="row">
                <div class="col-sm-14 col-md-13 col-lg-12 col-xl-11">
                    <h3 id="pg-header" class="mt-5">Contact Us</h3>
                    <p>
                        We'd love to hear from you! If you have any questions or
                        feedback, please don't hesitate to get in touch using any
                        of these following methods below.
                    </p>
                    <h5>Email:</h5>
                    <p>
                        You can email us at support@techenlightened.com. We'll try
                        to get in contact with you within 24-48 hours.
                    </p>
                    <h5>Phone:</h5>
                    <p>
                        If you wish to speak with someone directly, you can give us a
                        call at 208-208-2008. Our phone lines are open from 7AM-5PM on
                        bussiness days.
                    </p>
                    <h5>Mailing address</h5>
                    <p>
                        If you need to send something by mail, you can use this address:
                        1242 Blvd Way, Charlotte, NC.
                    </p>
                    <h5>Social Media:</h5>
                    <p>
                        We're also active on social media! You can find us on Twitter and
                        Facebook using the handle techenlighten.
                    </p>
                </div>
            </div>
        </main>
        </div>
        <%- include('./partials/footer.ejs') %>