<%- include('./partials/meta.ejs') %>
    <title>Contact us</title>

    <link rel='stylesheet' href='/css/index.css'>
    <%- include('./partials/header.ejs') %>
        <main class="container">
            <div id="pg-main-text" class="row">
                <div class="col-sm-14 col-md-13 col-lg-12 col-xl-11">
                    <h3 id="pg-header">Contact us here. </h3>
                </div>
            </div>
        </main>
        <%- include('./partials/footer.ejs') %>