<%- include('./partials/meta.ejs') %>
    <title>Homepage</title>

    <link rel='stylesheet' href='/css/index.css'>
    <%- include('./partials/header.ejs') %>
        <main class="container">
            <div id="pg-main-text" class="row">
                <div class="col-sm-14 col-md-13 col-lg-12 col-xl-11">
                    <h3 id="pg-header">Welcome to Tech Enlighten</h3>
                    <p id="pg-main-para">
                        Be enlightened of new ideas and technological life hacks that can make everyday life just a
                        little
                        bit
                        more enjoyable.
                        <br>Here you can create and join events online or in-person. Besides joining people to talk
                        about
                        clever
                        ways to have fun with technology
                        <br>you will also get ample oppertunities to meet a casual group of tech enthusiast to grow and
                        build
                        with.
                        <br>
                        <br>Check out some of our events via the Events section!
                    </p>
                </div>
            </div>
        </main>
        <%- include('./partials/footer.ejs') %>