body {
    background-color: #cddbe9 !important;
}

a {
    text-decoration: none;
}

main {
    position: relative;
    top: 2rem;
}

header,
footer {
    background-image: url(../images/Hexagon.svg);
}

.custom-bg {
    background-color: darkslategrey;
    background-size: cover;
    background-position: center;
    opacity: 0.9;
}

#pg-header {
    position: relative;
    width: fit-content;
}

#pg-main-list {
    position: relative;
    width: fit-content;
    list-style-type: none;
}

#pg-main-list li a {
    text-decoration: none;
    color: #242423;
}



header a,
footer a {
    color: #fff;
    cursor: pointer;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
}

header a:hover,
footer a:hover {
    color: rgb(85, 193, 230);
}

hr {
    width: 98%;
    background: #fff;
    height: 4px;
    position: relative;
}

#logo-image {
    width: 8rem;
    height: 4rem;
    border-radius: .4rem;
    margin-top: 1rem;
}

#event-label {
    position: relative;
    top: -0.5rem;
}

#nav1-options {
    position: relative;
    top: 0.5rem;
}

footer i {
    color: #fff;
}

footer i:hover {
    color: rgb(85, 193, 230);
}

@media only screen and (min-width: 80px) and (max-width: 480px) {
    main {
        position: relative;
        top: -2.5rem;
        margin-bottom: 15vh;
        /*keeps footer below text*/
    }

    #pg-main-text {
        position: relative;
        top: 5rem;
        left: -7.5rem;
    }

    #nav1-options {
        position: relative;
        left: 3.3rem;
    }

    #logo-image {
        position: relative;
        left: -2.1rem;
        width: 16rem;
    }

    #event-label {
        position: relative;
        left: -2rem;
    }

    #nav3-options {
        position: relative;
        left: -2rem;
    }

    #social-icons {
        position: relative;
        left: 3rem;
    }
}